.pie{
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    height: 30rem;
    width: 48rem;
}

.pie h2 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-weight: 400;
}