.state {
  text-align: center;
  align-items: center;
  width: 29rem;
  padding: 0.5rem;
  margin: 2rem auto;
  margin-bottom: 0;
}

.balance {
  align-items: flex-start;
  height: 5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  justify-content: space-around;
  flex-wrap: wrap;
}

.balance h3 {
  padding: 0 1rem;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
}

.balance p {
  font-weight: 300;
  font-size: 1.4rem;
  margin: 0;
  color: rgb(70, 248, 70);
  padding-left: 1rem;
}

.curState{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}