.state {
  text-align: center;
  align-items: center;
  width: 29rem;
  padding: 0.5rem;
  margin: 2rem auto;
  margin-bottom: 0;
}

.balance {
  align-items: flex-start;
  height: 5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  justify-content: space-around;
  flex-wrap: wrap;
}

.balance h3 {
  padding: 0 1rem;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
}

.balance p {
  font-weight: 600;
  font-size: 1.4rem;
  margin: 0;
  color: rgb(65, 212, 65);
  padding-left: 1rem;
}

.balance p:hover {
  color: rgb(62, 239, 62);
  transition: ease-out 0.25s;
}

.curState {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.year-control {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.yearSelector {
  align-items: center;
  margin: 0 auto;
}

.yearSelector label {
  padding: 0.5rem;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.25rem;
  display: block;
}

.yearSelector select {
  padding: 0.5rem;
  color: white;
  width: 12rem;
  background: transparent;
  border-radius: 4px;
  box-shadow: rgba(149, 143, 173, 0.25) 0px 13px 27px -5px,
    rgba(41, 41, 41, 0.3) 0px 8px 16px -8px;
  
}

.yearSelector select option {
  color: white;
  gap: 0.25rem;
  font-size: 1.25rem;
  background: black;
}