.scrollDiv {
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 45rem;
}

.list {
    padding: 0;
    margin: 0;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}