@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: "PT Sans", sans-serif;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1c403c,
    #0d171a,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0e2020,
    #0a0f10,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  margin: 2rem auto;
}

h1 {
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: space-around;
}

.left {
  align-items: center;
  padding-bottom: 1.6rem;
}

.right {
  padding-top: 1.5rem;
  align-items: center;
}

.right #form-control {
  background-color: #58d3cf;
  text-align: center;
  align-items: center;
  margin: 1rem 2.5rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25rem 1rem;
  box-shadow: 1px 1px 0px 0px black, 2px 2px 0px 0px blue, 3px 3px 0px 0px green,
    4px 4px 0px 0px, 5px 5px 0px 0px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 24.5rem;
}

.right #form-control:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.right #form-control:hover {
  background-color: #4bfff6;
  transition: ease-in-out;
}

@media (min-width: 768px) {
  .right #form-control {
    padding: 0.25rem 0.75rem;
  }
}
